/* 
#021C1E - blue black
#004445 - cadet blue
#2C7873 - rain
#6FB98F - greenery
*/

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #021C1E;
    text-align: center;
}

.header_img {
    width: 75%;
    height: 50%;
    display: inline-block;
    margin: 0 0 5% 0;
}

body a {
    color: #004445;
}

footer a {
    color: #ffff;
}

.main {
    background-color: #A6F6D6;
    padding: 1rem 1rem 0 1rem;
}

.main_intro {
    background-color: #A6F6D6;
    padding: 1rem 1rem 0 1rem;
}

body {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    width: 95%;
    padding: 5%;
    text-align: center;
    background-color: #34948D;
    color: #021C1E;
    float: left;
}

.get_to_know_me{
    padding: 0 0 1rem 0;
}

.contact_info{
    border-style: solid;
    border-color: #2C7873;
    border-width: 2px;
    width: 40%;
    display: inline-block;
    margin: 0 0 5% 0;
    text-align: center;
}

.resume_bod{
    background-color: #A6F6D4;
    
}

.contact_info img{
    width: 2rem;
}

p {
    margin: 5px 10px 5px 10px;
}

.interests {
    margin: 5px;
    padding: 0 0 10px 0;
}

img {
    width: 40%;
    display: inline-block;
    padding-top: 5%;
}

.project_1, .project_2 {
    height: 15rem;
    display: inline-block;
    margin: 5%;
}

.project_2 img {
    width: 60%;
}

.project_1 img {
    width: 60%;
}

.bod_project{
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    width: 95%;
    padding: 5%;
    background-color: #34948D;
    color: #021C1E;
    /* text-align: center; */
}


footer img {
    height: 300px;
}

.name {
    font-family: Lucidabright, "Lucida Serif", serif;
    font-weight: bolder;
}

.button {
    width: 33%;
    font-family: Lucidabright, "Lucida Serif", serif;
    text-align: center;
    padding: 10%;
    
}

.projects {
    float: left;
    background: linear-gradient(rgba(31, 109, 212, 0.6), rgba(42, 151, 200, 0.3)), no-repeat center/cover url(assets/computer.jpeg);
}

.home {
    float: right;
    background: linear-gradient(rgba(31, 109, 212, 0.6), rgba(42, 151, 200, 0.3)), no-repeat center/cover url(assets/myface.png);
}

.resume{
    display: inline-block;
    background: linear-gradient(rgba(31, 109, 212, 0.6), rgba(42, 151, 200, 0.3)), no-repeat center/cover url(assets/Cosmo.png);
}

.clearfix {
    clear: both;
}